@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");

/* main variables */
:root {
  --electric-blue: #90f1efff;
  --mimi-pink: #ffd6e0ff;
  --green-yellow-crayola: #ffef9fff;
  --mint-green: #c1fba4ff;
  --light-green: #7bf1a8ff;
}

/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid var(--mint-green);
  padding: 30px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* button styles */
.btn {
  display: inline-block;
  background: var(--green-yellow-crayola);
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

/* task styles */
.task {
  background: rgba(144, 241, 239, 0.15);
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid var(--light-green);
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no-tasks {
  text-align: center;
  font-weight: normal;
  background-color: var(--mimi-pink);
}

/* input styles */
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

/* footer styles */
footer {
  margin-top: 30px;
  text-align: center;
}
